* {
  font-family: "Input Mono Narrow Light";
  min-height: 0;
}

@import "themes/gruvbox.css";

window#waybar {
  /*border: 2px solid rgba(255, 133, 25, 0.93) rgba(122, 112, 106, 0.93) 45deg;
  border-image: linear-gradient(#ff8519, #7a706a) 45;*/
  border-radius: 0px;
  background: @bg1;
  opacity: 0.95;
}

tooltip {
  background: linear-gradient(45deg, @bg1, @bg1);
  color: @fg2;
  border-radius: 2px;
  border-width: 0px;
  opacity: 0.9;
}

#workspaces {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px 4px 0px 4px;
}

#workspaces button {
  color: @fg2;
  box-shadow: none;
  background: @bg0_s;
  text-shadow: none;
  border-radius: 0px;
  margin-left: 0px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0px;
  border-bottom: 3px solid transparent;
}

#workspaces button:hover {
  color: @fg1;
  background-color: @bg0_s;
  border-bottom: 3px solid @aqua2;
  transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  background: @bg0_s;
  color: @fg0;
  border-bottom: 3px solid @aqua2;
  animation: ws_active 0s ease-in-out 1;
  transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#window,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default,
#backlight,
#battery,
#bluetooth,
#pulseaudio,
#custom-cliphist,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-power,
#custom-spotify,
#taskbar {
  color: @fg2;
  background: transparent;
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 2px;
  padding-right: 2px;
}

#window {
  animation: ws_normal 20s ease-in-out 1;
  transition: 0.2s;
}

#clock {
  color: @fg2;
  background: @bg0_s;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-bottom: 3px solid transparent;
}
#clock:hover {
  color: @fg1;
  border-bottom: 3px solid @aqua2;
  transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
#pulseaudio {
  font-size: 16px;
}
#pulseaudio.microphone {
  font-size: 16px;
}
#custom-vpn {
  color: @fg2;
  background: transparent;
  opacity: 1;
  margin: 0px 0px 1px 0px;
  padding-left: 4px;
  padding-right: 9px;
  font-family: "Cantarell";
  font-size: 10px;
}

#custom-logo {
  font-size: 16px;
  background-image: url("/home/cnst/.config/waybar/images/button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 15px;
}

#custom-weather {
  color: #8a909e;
}

#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-weather.default {
  color: #dbd9d8;
}

#custom-trayicon {
  color: @fg0;
  background: transparent;
  opacity: 1;
  margin: 1px 0px 0px 0px;
  padding-left: 2px;
  padding-right: 8px;
  font-family: "Cantarell";
  font-size: 14px;
}
#custom-vpn:hover,
#custom-trayicon:hover {
  color: @orange2;
  transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#custom-mako {
  color: @fg2;
  background: transparent;
  opacity: 1;
  margin: 1px 0px 0px 0px;
  padding-right: 12px;
  padding-left: 8px;
  font-family: "Cantarell";
  font-size: 16px;
}
#custom-mako:hover {
  color: @bg2;
  background: @orange;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#tray menu * {
  color: @fg2;
  font-family: "Input Sans Compressed";
}

/*
 * #tray menu menuitem:hover {
  background: @orange;
  color: @orange;
}
*/

#tray {
  padding: 0 5px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

@keyframes needs-attention {
  to {
    background-color: rgba(235, 77, 75, 0.5);
  }
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  animation-name: needs-attention;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: transparent;
}

#idle_inhibitor {
  font-family: "Cantarell";
  font-size: 16px;
  background: transparent;
  padding-left: 6px;
  padding-right: 6px;
}
#idle_inhibitor.activated {
  color: #7ebae4;
}

#idle_inhibitor.deactivated {
  color: #5277c3;
}
#custom-launcher {
  color: @fg2;
  font-size: 10px;
  /* border-radius: 13px; */
  margin: 0px 0px 0px 0px;
  padding-left: 2px;
  padding-right: 4px;
}

#taskbar {
  padding: 0px;
}

#custom-r_end {
  /*    border-radius: 0px 13px 13px 0px; */
  margin-right: 8px;
  padding-right: 0px;
}

#custom-l_end {
  /*    border-radius: 13px 0px 0px 13px; */
  margin-left: 8px;
  padding-left: 0px;
}

#custom-sr_end {
  border-radius: 0px;
  margin-right: 8px;
  padding-right: 0px;
}

#custom-sl_end {
  border-radius: 0px;
  margin-left: 8px;
  padding-left: 0px;
}

#custom-rr_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 8px;
  padding-right: 0px;
}

#custom-rl_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 8px;
  padding-left: 0px;
}
